<div class="app">
  <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
    <span>Yoga app</span>
    @if ($isLogged() | async) {
      <div>
        <a routerLink="sessions" class="link" data-cy="nav-sessions">Sessions</a>
        <a routerLink="me" class="link" data-cy="nav-account">Account</a>
        <button (click)="logout()" class="link" data-cy="logout-button">Logout</button>
      </div>
    } @else {
      <div>
        <a routerLink="/login" routerLinkActive="active" class="link">Login</a>
        <a routerLink="/register" routerLinkActive="active" class="link">Register</a>
      </div>
    }
  </mat-toolbar>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
